<div class="main-body">
  <div class="page-title">
    <%= link_to @group.name + "ページに戻る", group_path(@group), class: 'page-back btn btn-content' %>
    <h2 class="mb-0">アンケート一覧</h2>
  </div>
  <div class="mx-auto text-center" style="width: 50%">
    <table class="table table-borderless">
      <thead class="border-bottom border-dark">
        <tr>
          <th>質問開始日</th>
          <th>アンケート名</th>
        </tr>
      </thead>
      <% @questions.each do |question| %>
        <% @answer = Answer.find_by(user_id: current_user.id, question_id: question.id) %>
        <tbody>
          <tr>
            <td><%= question.created_at.strftime('%m月%d日') %></td>
            <% if @answer.status == false %>
              <td><%= link_to "アンケート", edit_group_question_answer_path(question.group_id, question.id, @answer) %></td>
            <% else %>
              <td><%= link_to "アンケート", group_question_path(question.group_id, question.id) %></td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>