<% visiter = notification.visiter %>
<div class="container">
<div class="user-view clearfix pb-3 row">
  <span class="col-1 offset-4"><%= attachment_image_tag visiter, :image, :fill, 60, 60, fallback: "no-image.png", id: "member-image" %></span>
  <span class="align-middle"><%= notification_form(notification) %></span>
  <span class="moderate-font"><%= "( #{time_ago_in_words(notification.created_at)} å‰)" %></span>
</div>
</div