<% visiter = notification.visiter %>
<div>
  <div class="user-view clearfix pb-3 notification-list">
    <span><%= attachment_image_tag visiter, :image, :fill, 60, 60, fallback: "no-image.png", id: "member-image" %></span>
    <span class="align-middle responsive-font"><%= notification_form(notification) %></span>
    <span class="moderate-font responsive-font"><%= "( #{time_ago_in_words(notification.created_at)} å‰)" %></span>
  </div>
</div>
<%= paginate @notifications, remote: true %>