<div class="main-body">
  <div class="main-visual">
    <div class="main-text">
      <h1 class="top-text">WELCOME<br>TO<br>RAKU NOMI!</h1>
      <div class="top-button"><%= link_to "新規登録", new_user_registration_path, class: 'btn btn-top' %></div>
      <div class="top-button"><%= link_to "ログイン", new_user_session_path, class: 'btn btn-top' %></div>
    </div>
    <%= image_tag("main_img.jpg", class: "main-image") %>
  </div>
</div>
<div class="explanation-title">
  <h1 class="title"><span>RAKU NOMIとは？</span></h1>
  <p>
    RAKU NOMIとは飲み会をラク(楽)に！楽しく！開催することを可能にした、<br>
    飲み会専用のコミュニケーションサイトです！<br>
    会社や大学の飲み会はもちろん個人的な飲み会を開きたい方など様々な方にご利用いただけます！
  </p>
</div>
<div class="explanation-body">
  <h2 class="left-explanation">みんな<span class="color-red">いつ</span>空いているのか分からない、、、</h2>
  <h2 class="right-explanation">メンバーに<span class="color-red">連絡</span>するのも面倒、、、</h2>
  <h2 class="left-explanation"><span class="color-red">やること</span>も多いし、、、</h2>
  <h2 class="right-explanation">でも他に幹事やる人<span class="color-red">いない</span>し、、、</h2>
</div>
<div class="explanation-finish">
  <h1>
    などの飲み会を開く際の悩みを<br>
    この<span class="color-orange">RAKUNOMI</span>が解決します！！
  </h1>
</div>
<div class="bottom-btn">
  <%= link_to "RAKU NOMIの使い方", home_about_path, class: 'btn btn-default btn-lg' %>
</div>