<div class="main-body">
  <div class="main-visual">
    <div class="main-text">
      <h1 class="top-text">WELCOME<br>TO<br>RAKU NOMI!</h1>
      <div class="top-button"><%= link_to "新規登録", new_user_registration_path, class: 'btn btn-default btn-lg' %></div>
      <div class="top-button"><%= link_to "ログイン", new_user_session_path, class: 'btn btn-default btn-lg' %></div>
    </div>
    <!--%= image_tag("main_img.jpg", class: "main-image") %-->
  </div>
</div>
<div class="explanation-title">
  <h1>RAKU NOMIとは？</h1>
  <p>
    RAKU NOMIとは飲み会をラク(楽)に！楽しく！開催することを可能にした、<br>
    飲み会専用のコミュニケーションサイトです！<br>
    会社や大学の飲み会はもちろん個人的な飲み会を開きたい方など様々な方にご利用いただけます！
  </p>
</div>
<div class="explanation-body">
  <h2 class="left-explanation">みんないつ空いているのか分からない、、、</h2>
  <h2 class="right-explanation">メンバーに連絡するのも面倒、、、</h2>
  <h2 class="left-explanation">誰から集金したかも覚えなきゃ、、、</h2>
  <h2 class="right-explanation">当日の席極めもしなきゃいけないし、、、</h2>
</div>
<div class="explanation-finish">
  <h1>
    などの飲み会を開く際の悩みを<br>
    このRAKUNOMIが解決します！！
  </h1>
</div>
<div class="bottom-btn">
  <%= link_to "RAKU NOMIの使い方", home_about_path, class: 'btn btn-default btn-lg' %>
</div>