/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 html {
  width: 100%;
 }

 body {
  width: 100%;
  font-family: 'Yusei Magic', sans-serif;
 }

 header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  z-index: 100;
  border-top: solid 1px #000000;;
  border-bottom: solid 1px #000000;
 }

 .header-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 80px;
  margin: 0 auto;
  line-height: 80px;
  position: relative;
  .logo {
   width: 230px;
   height: 60px;
  }
  .bottle {
   width: 240px;
   height: 40px;
   margin-top: 40px;
  }
  ul {
   list-style: none;
   display: flex;
  }
 }

 .search-form #content {
  height: 30%;
  vertical-align: middle;
 }

 .search-form .search-submit {
  height: 24px;
  width: 30px;
  vertical-align: middle;
 }

 .fa-search {
  vertical-align: top;
  margin-top: 2px;
 }

 .btn-nav {
  border: 2px solid #000;
  border-radius: 30px;
  background: #FFA500;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
  margin-left: 20px;
 }

 .btn-nav:hover {
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: -4px -4px 0 #000;;
 }

 main {
  width: 100%;
 }

 .btn-content {
  border: 2px solid #000;
  border-radius: 30px;
  background: #ffff00;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
  margin-left: 20px;
 }

 .btn-content:hover {
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: -4px -4px 0 #000;;
 }

 .btn-event {
  width: 13rem;
  height: 4rem;
  font-size: 1.8rem;
 }

 .actions .btn-new {
  width: 15%;
  height: 60px;
  font-size: 180%;
 }

footer {
 text-align: center;
 width: 100%;
 height: 25px;
 background-color: #ffe4b5;
 border-top: solid 1px #000;
 border-bottom: solid 1px #000;
}

*:focus {
  outline: none !important;
}

.main-body .page-title {
 background-color: #FFA500;
 padding-top: 1.5rem;
 padding-bottom: 1.5rem;
 text-align: center;
 border-bottom: solid 0.0625rem #000000;
 position: relative;
}

.page-back {
 position: absolute;
 top: 25%;
 left: 5%;
}

.group-color {
 background-color: #FFA500;
}

.nav-ul {
 position: relative;
}

.nav-ul .notification-icon {
 position: absolute;
 top: 19px;
 right: 165px;
}

#event_paginate {
 position: relative;
}

.pagination {
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
 -webkit-transform: translateX(-50%);
 -ms-transform: translateX(-50%);
 bottom: 3%;
}

#notification_paginate {
 position: relative;
 .pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  bottom: -10%;
 }
}

#error_explanation {
 color: red;
 padding-top: 20px;
}

ul {
 list-style: none;
}

.member-list {
 position: relative;
}

.follower-list {
 position: absolute;
 right: 0;
 top: 0;
}

@media screen and ( min-width:1250px) and (max-width:2000px) {
 .menu-title {
  display: none;
 }
 #hm-icon {
  display: none;
 }
}

@media screen and (max-width:1250px) {
 .menu-title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
 }

 // ハンバーガーアイコン
 .search-form {
  padding-right: 50px;
 }

 #hm-icon {
  position: absolute;
  right: 0;
  top: 9px;
  z-index: 10;
 }

 .menu-trigger {
  position: relative;
  width: 30px;
  height: 22px;
 }

 .menu-trigger,
 .menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
 }

 .menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
 }

 .menu-trigger span:nth-child(1) {
  top: 0;
 }

 .menu-trigger span:nth-child(2) {
  top: 40%;
 }

 .menu-trigger span:nth-child(3) {
  bottom: 0;
 }

 .menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(-45deg);
  transform: translateY(9px) rotate(-45deg);
  background-color: #fff;
 }

 .menu-trigger.active span:nth-child(2) {
  opacity: 0;
 }

 .menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(45deg);
  transform: translateY(-9px) rotate(45deg);
  background-color: #fff;
 }

 // spメニュー


 #sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  display: none;
  z-index: 9;
 }

 #sp-menu ul {
  display: block;
 }

 #sp-menu li {
  text-align: center;
  margin-bottom: 5px;
 }

 #sp-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0;
  background: #000;
  margin-left: 0;
 }

 .btn,
 .btn-nav {

 }
}

@media screen and (max-width:1000px) {
 .top-button-new .btn-top {
  height: 45px;
  line-height: 25px;
 }
 .top-button-log .btn-top {
  height: 45px;
  line-height: 25px;
 }
}

.bubble {
 position: absolute;
 border-radius: 100%;
 border: 1px solid #fff;
 bottom: 1px;
}