<% if resource.errors.any? %>
  <div class="alart-warning" id="alart">
    <ul style="color: red;">
      <p style="color: red;" class="text-center">エラーが発生しました</p>
      <% resource.errors.full_messages.each do |message| %>
        <li class="text-center"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>